h1{
  color:#1A1E3A;
  width: 70%;
  float:right;
  font-size: 32px;
  margin-top:5px;
  margin-bottom:5px;
}
h2{
  color:#8D0D1A;
  width: 70%;
  float:right;
  margin-top:5px;
  margin-bottom:5px;
}
body{
  background-color:#D1D0E3;
  right:20%
}
.year{
  position: fixed;
  color: black;
  top:5;
  right:0;
  margin-top:5px;
  margin-bottom:5px;
  width: 8%;
}
.democrat{
  color: #065DB6;
  width:78%;
  float:right;

}

.republican{
  color: #D74934;
  float:right;
  width:78%;
}
.straightUp text{
  pointer-events: none;
}
.year76 {
  position: fixed;
  background-color: #22292E;
  color: white;
  top:15%;
  right:0;
  height:5%;
  width:8%;
}
.year80{
  position: fixed;
  background-color: #22292E;
  color: white;
  top:20%;
  right:0;
  height:5%;
  width:8%;
}
.year84{
  position: fixed;
  background-color: #22292E;
  color: white;
  top:25%;
  right:0;
  height:5%;
  width:8%;
}
.year88{
  position: fixed;
  background-color: #22292E;
  color: white;
  top:30%;
  right:0;
  height:5%;
  width: 8%;
}
.year92{
  position: fixed;
  background-color: #22292E;
  color: white;
  top:35%;
  right:0;
  height:5%;
  width:8%;
}
.year96{
  position: fixed;
  background-color: #22292E;
  color: white;
  top:40%;
  right:0;
  height:5%;
  width:8%;
}
.year00{
  position: fixed;
  background-color: #22292E;
  color: white;
  top:45%;
  right:0;
  height:5%;
  width:8%;
}
.year04{
  position: fixed;
  background-color: #22292E;
  color: white;
  top:50%;
  right:0;
  height:5%;
  width:8%;
}
.year08{
  position: fixed;
  background-color: #22292E;
  color: white;
  top:55%;
  right:0;
  height:5%;
  width:8%;
}
.year12{
  position: fixed;
  background-color: #22292E;
  color: white;
  top:60%;
  right:0;
  height:5%;
  width:8%;

}
.year16{
  position: fixed;
  background-color: #22292E;
  color: white;
  top:65%;
  right:0;
  height:5%;
  width:8%;
}
button{
  font-size:14px;
}
